In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%sql sqlite:///mydatabase.db

In [14]:
%%sql
CREATE TABLE Weather1 (
    ID INT PRIMARY KEY,
    recordDate date,
    tempreature INT
);

 * sqlite:///mydatabase.db
Done.

[]

In [32]:
%sql insert into Weather1 (ID, recordDate, tempreature) values(1, '2015-01-01', 10);

 * sqlite:///mydatabase.db
1 rows affected.

[]

In [34]:
%sql insert into Weather1 (ID, recordDate, tempreature) values(2, '2015-01-02', 25);

 * sqlite:///mydatabase.db
1 rows affected.

[]

In [35]:
%sql insert into Weather1 (ID, recordDate, tempreature) values(3, '2015-01-03', 20);

 * sqlite:///mydatabase.db
1 rows affected.

[]

In [36]:
%sql insert into Weather1 (ID, recordDate, tempreature) values(4, '2015-01-04', 30);

 * sqlite:///mydatabase.db
1 rows affected.

[]

In [37]:
%sql select * from Weather1;

 * sqlite:///mydatabase.db
Done.

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

In [45]:
%%sql 
select id from Weather1 w1
where tempreature > (select MAX(tempreature) from Weather1 w2 where w2.recordDate < w1.recordDate);

 * sqlite:///mydatabase.db
Done.

[(2,), (4,)]